<launch>
    <!-- Launch RealSense Node -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
    <!-- Load the AprilTag detector parameters -->
    <rosparam command="load" file="$(find object_tracker)/config/apriltag_settings.yaml" />
    <!-- AprilTag detector node -->
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
        <arg name="camera_name" value="camera" />
        <arg name="image_topic" value="/camera/color/image_raw" />
    </include>

    <!-- Launch Object Tracker Node -->
    <node name="dog_position_tracker" pkg="object_tracker" type="cv_test.py" output="screen" />
</launch>