<launch>
    <!-- Launch RealSense Node -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
    <!-- AprilTag detector node -->
    <!-- AprilTag detector node -->
  <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
    <arg name="camera_name" value="camera" />
    <arg name="image_topic" value="/camera/color/image_raw" />
  </include>

    <!-- Load the AprilTag detector parameters -->
    <node name="apriltag_config_loader" pkg="rospy_tutorials" type="rosparam" args="load $(find object_tracker)/config/apriltag_settings.yaml" />

    <!-- Launch Object Tracker Node -->
    <node name="dog_position_tracker" pkg="object_tracker" type="cv_test.py" output="screen" />
</launch>